In [14]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns

In [15]:
data=pd.read_csv('C:/Users/RISHI VASU/Desktop/New folder/train.csv',index_col=0)

In [16]:
X = data.drop('medv',axis=1)
y= data['medv']

In [17]:
X.head()

,crim,zn,indus,chas,nox,rm,age,dis,rad,tax,ptratio,black,lstat
ID,,,,,,,,,,,,,
1,0.00632,18.0,2.31,0,0.538,6.575,65.2,4.0900,1,296,15.3,396.90,4.98
2,0.02731,0.0,7.07,0,0.469,6.421,78.9,4.9671,2,242,17.8,396.90,9.14
4,0.03237,0.0,2.18,0,0.458,6.998,45.8,6.0622,3,222,18.7,394.63,2.94
5,0.06905,0.0,2.18,0,0.458,7.147,54.2,6.0622,3,222,18.7,396.90,5.33
7,0.08829,12.5,7.87,0,0.524,6.012,66.6,5.5605,5,311,15.2,395.60,12.43

In [18]:
len(X)

333

In [19]:
len(y)

333

In [20]:
data.corr()

,crim,zn,indus,chas,nox,rm,age,dis,rad,tax,ptratio,black,lstat,medv
crim,1.000000,-0.210913,0.422228,-0.041195,0.463001,-0.310180,0.379034,-0.397067,0.666636,0.617081,0.313409,-0.475796,0.532077,-0.407454
zn,-0.210913,1.000000,-0.518679,-0.024442,-0.501990,0.328197,-0.544513,0.637142,-0.303663,-0.311180,-0.380449,0.168130,-0.388112,0.344842
indus,0.422228,-0.518679,1.000000,0.037496,0.750087,-0.440365,0.638378,-0.702327,0.569779,0.708313,0.391087,-0.335049,0.614155,-0.473932
chas,-0.041195,-0.024442,0.037496,1.000000,0.080275,0.112251,0.068286,-0.081834,0.007714,-0.021826,-0.125067,0.062029,-0.050055,0.204390
nox,0.463001,-0.501990,0.750087,0.080275,1.000000,-0.338515,0.736000,-0.769364,0.612180,0.670722,0.192513,-0.369416,0.598874,-0.413054
rm,-0.310180,0.328197,-0.440365,0.112251,-0.338515,1.000000,-0.248573,0.269191,-0.272783,-0.356987,-0.366927,0.155202,-0.615747,0.689598
age,0.379034,-0.544513,0.638378,0.068286,0.736000,-0.248573,1.000000,-0.764208,0.447380,0.511893,0.259293,-0.268054,0.588834,-0.358888
dis,-0.397067,0.637142,-0.702327,-0.081834,-0.769364,0.269191,-0.764208,1.000000,-0.477610,-0.529539,-0.231101,0.284374,-0.505939,0.249422
rad,0.666636,-0.303663,0.569779,0.007714,0.612180,-0.272783,0.447380,-0.477610,1.000000,0.903562,0.470849,-0.406405,0.484568,-0.352251
tax,0.617081,-0.311180,0.708313,-0.021826,0.670722,-0.356987,0.511893,-0.529539,0.903562,1.000000,0.467437,-0.406477,0.544485,-0.448078
ptratio,0.313409,-0.380449,0.391087,-0.125067,0.192513,-0.366927,0.259293,-0.231101,0.470849,0.467437,1.000000,-0.164614,0.374802,-0.481376
black,-0.475796,0.168130,-0.335049,0.062029,-0.369416,0.155202,-0.268054,0.284374,-0.406405,-0.406477,-0.164614,1.000000,-0.356693,0.336660
lstat,0.532077,-0.388112,0.614155,-0.050055,0.598874,-0.615747,0.588834,-0.505939,0.484568,0.544485,0.374802,-0.356693,1.000000,-0.738600
medv,-0.407454,0.344842,-0.473932,0.204390,-0.413054,0.689598,-0.358888,0.249422,-0.352251,-0.448078,-0.481376,0.336660,-0.738600,1.000000

In [21]:
#a=data.drop(['crim','zn','indus','chas','nox','age','dis','rad','tax','ptratio','black'],axis=1)
a=data.drop(['crim','zn','indus','chas','nox','dis','rad','tax','black','age','ptratio'],axis=1)

In [22]:
len(a)

333

In [23]:
from scipy import stats
z = np.abs(stats.zscore(a))

In [24]:
threshold=3

In [25]:
print(np.where(z > 3))

(array([ 96, 110, 154, 176, 240, 242, 247, 248, 248, 268], dtype=int64), array([1, 0, 0, 0, 0, 0, 1, 0, 1, 1], dtype=int64))

In [26]:
boston_df = a[(z < 3).all(axis=1)]

In [27]:
a=boston_df

In [28]:
from sklearn.model_selection import train_test_split

In [29]:
X_train,X_test,y_train,y_test=train_test_split(X,y,test_size=0.2,random_state=0)

In [30]:
from sklearn.tree import DecisionTreeRegressor
dtr=DecisionTreeRegressor(random_state=0)
dtr.fit(X_train,y_train)

DecisionTreeRegressor(criterion='mse', max_depth=None, max_features=None,
           max_leaf_nodes=None, min_impurity_decrease=0.0,
           min_impurity_split=None, min_samples_leaf=1,
           min_samples_split=2, min_weight_fraction_leaf=0.0,
           presort=False, random_state=0, splitter='best')

In [31]:
y_p=dtr.predict(X_test)

In [32]:
dtr.score(X_train,y_train)*100

100.0

In [37]:
dtr.score(X_test,y_test)*100

88.0960517759207

In [38]:
from sklearn.tree import DecisionTreeRegressor

In [39]:
?DecisionTreeRegressor

In [378]:
from sklearn.linear_model import LinearRegression
regressor=LinearRegression()
regressor.fit(X_train,y_train)

LinearRegression(copy_X=True, fit_intercept=True, n_jobs=1, normalize=False)

In [379]:
y_pred=regressor.predict(X_test)

In [380]:
print('Train Score:',regressor.score(X_train,y_train)*100)

Train Score: 72.93455672581774

In [381]:
print('Test Score:',regressor.score(X_test,y_test)*100)

Test Score: 73.12411054098585

In [382]:
len(y_pred)
len(y_test)

67

In [383]:
a = boston_df

In [384]:
from sklearn.neighbors import KNeighborsRegressor

In [385]:
KNR=KNeighborsRegressor()

In [386]:
KNR.fit(X_train,y_train)

KNeighborsRegressor(algorithm='auto', leaf_size=30, metric='minkowski',
          metric_params=None, n_jobs=1, n_neighbors=5, p=2,
          weights='uniform')

In [387]:
y_knn=KNR.predict(X_test)

In [388]:
KNR.score(X_train,y_train)

0.6630276240874258

In [389]:
KNR.score(X_test,y_test)

0.44400401521012445